.LowerRow{
    font-weight: 450;
}
.breakrow{
    font-weight: 450;
}

#mainCard .card{
    height:100px;
    /* overflow: scroll; */
    
}
#condition-image{
   max-height:7rem
   
}
#AddFavouriteButton{
    cursor:pointer;
  
}